@charset "utf-8";

/*TODAS AS DEMAIS MÍDIAS*/
@media screen and (min-width: 750px){
    .img-sport{
        width: 100%;
        height: auto;
    }
    .img-extra{
        width: 550px;
        height: auto;
    }
    
    p{
        font-size: 20px;
    }
    h5, h3{
        font-size: 20px;
    }
    button{
        font-size: 25px;
    }
    .logo, .logo-footer{
        max-width: 200px;
    }
}
@media screen and (min-width:1024px){
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 15px;
    }
    .container1{
        display: flex;
        flex-direction: column;
    }
    .img-sport{
        width: 280px;
        height: auto;
    }
    .img-extra{
        width: 180px;
        height: auto;
    }
    .sports{
        display: grid;
        flex-wrap: wrap;
        gap: 15px;
        display: grid;
        flex: 1 0 auto;
        grid-template-columns: repeat(3, 1fr);
        grid-area: sports;
    }
    .container-extras{
        display: grid;
        flex-wrap: wrap;
        gap: 15px;
        display: grid;
        flex: 1 0 auto;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width:1250px){
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 15px;
    }
    .img-sport{
        width: 70%;
        height: auto;
    }
    .sports{
        display: grid;
        flex-wrap: wrap;
        gap: 15px;
        flex: 1 0 auto;
        grid-template-columns: repeat(3, 1fr);
    }
    .itemEsporte{
        max-width: 500px;
    }
    .container-extras{
        display: flex;
        flex-direction: column;
        max-width: 300px;
    }
    .container1{
        display: grid;
        grid-template-columns: 4fr 1fr;
        flex: 1 0 auto;
        grid-template-areas: 
        "sports sports sports container-extras";
    }
}

@media screen and (min-width:2000px){
    .container-extras{
        display: flex;
        flex-direction: column;
        max-width: 350px;
    }
    .img-sport{
        width: 100%;
        height: auto;
    }
    .img-extra{
        width: 90%;
        height: auto;
    }
    .sports{
        padding: 60px 250px;
        display: grid;
        flex-wrap: wrap;
        gap: 15px;
        flex: 1 0 auto;
        grid-template-columns: repeat(3, 1fr);
    }
}