@charset "utf-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.botoes{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.botao{
    padding: 10px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
.botao:hover{
    border-bottom: 1px solid #ff0044;
    transition: 0.4s;
}
.logo{
    max-width: 350px;
}
.container-master{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}
.container1{
    padding: 15px;
}
.sports{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
    "boxe crossfit natacao";
    gap: 50px;
}
.img-sport{
    max-width: 250px;
    border-radius: 10px;
}
.itemEsporte{
    max-width: 250px;
}
.wellcome{
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container-extras{
    background-color: darkgray;
}
.footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.logo-footer{
    max-width: 200px;
}