*{
    padding: 0px;
    margin: 0px;
}

img{
    height: 50px;
}

header{
    width: auto;
    padding: 10px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botoes{
    display: flex;
    gap: 15px;
}

.botao{
    padding: 10px 15px;
    background-color: transparent;
    color: white;
    border-color: rgba(255, 255, 255, 0.187);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
}

.botao:hover{
    border-color: #ff0044;
}