*{
    padding: 0px;
    margin: 0px;
}

.logo{
    max-height: 60px;
}
.iconrock{
    padding: 5px;
    max-height: 60px;
}

.header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.botoes{
    padding: 10px;
    gap: 15px;
    display: flex;
}

.botao{
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    transition: 0.4s;
    cursor: pointer;
    font-size: 18px;
}

.botao:hover{
    border-color: #ff0044;
}